@import url("/fonts/toruspro/stylesheet.css");
@import url("@/styles/rangeslider.css");

:root {
  font-family: 'Torus Notched', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #394642;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  user-select: none;
  scroll-behavior: smooth;
}

@mixin zeroMargin($important: false) {
  margin: 0;

  @if $important {
    margin: 0 !important;
  }
}

@mixin zeroPadding($important: false) {
  padding: 0;

  @if $important {
    padding: 0 !important;
  }
}

@mixin zeroMP() {
  @include zeroMargin;
  @include zeroPadding;
}

@mixin topLeft($top: 0, $left: 0, $transformX: 0, $transformY: 0) {
  top: $top;
  left: $left;
  transform: translate($transformX, $transformY);
}

@mixin absolute($top: 0, $left: 0, $transformX: 0, $transformY: 0) {
  @include topLeft($top, $left, $transformX, $transformY);
  position: absolute;
}

@mixin fixed($top: 0, $left: 0, $transformX: 0, $transformY: 0) {
  @include topLeft($top, $left, $transformX, $transformY);
  position: fixed;
}


@mixin fullWidth() {
  width: 100%;
}

@mixin fullHeight() {
  height: 100%;
}

@mixin fullSize() {
  @include fullWidth;
  @include fullHeight;
}

@mixin zeroTL() {
  top: 0;
  left: 0;
}

@mixin flex($justify: center, $align: center, $direction: column) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin flexCenter() {
  @include flex(center, center);
}

@mixin flexBasis($basis: 0, $grow: 0, $shrink: 0) {
  flex-basis: $basis;
  flex-grow: $grow;
  flex-shrink: $shrink;
}


body,
h1,
h2,
h3,
h4,
p {
  @include zeroMP;
}

.load {
  @include fullSize;
  @include fixed;
  background-color: #1F2E29;
  text-align: center;
  z-index: 999;
}

.preventlandscape {
  @extend .load;

  @media (max-aspect-ratio: 4/5) {
    display: block;
  }

  display: none;
}

.preventlandscape h1,
.load .center {
  @include fixed(50%, 50%, -50%, -50%);
  @include fullWidth;
}

.load h4,
.timeoption .info {
  color: #FFD966;
}

.navbar {
  @include zeroTL;
  @include fullWidth;
  @include flex(space-between, center, row);
  background-color: #394642;
  position: fixed;
  z-index: 99;
}

.navbar p,
.playbackoptions .buttonlabel {
  background-color: transparent;
  border: none;
  color: #91CDB9;
  transition: color 0.1s;
}

.navbar .dropdown,
.navbar .button,
.playbackoptions .button {
  position: relative;
  float: left;
  background-color: #45544F;
  transition: background-color 0.1s;
}

.navbar .dropdown,
.navbar .button {
  @include flex(center, center);
  padding: 0.3rem 1rem;
}

.navbar .dropdown:hover {
  background-color: #5C7069;
  font-weight: bold;
}

.navbar .dropdown:hover p,
.button:hover p {
  color: white;
}

.navbar .dropdown-content {
  @include absolute(100%, 0, 0, 0);
  display: none;
  background-color: #45544F;
  white-space: nowrap;
  z-index: 69;
}

.navbar .dropdown-content a {
  color: white;
  font-weight: normal;
  padding: 0.2rem 1rem;
  text-decoration: none;
  display: block;
  z-index: 9;
}

.navbar .dropdown-content a:hover {
  background-color: #5C7069;
  font-weight: bold;
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}

.button[active="true"] .buttonlabel,
.sectionnavbar .button[active="true"] .buttonlabel {
  color: white;
  font-weight: bold;
}

.title .emptyspace {
  width: 1.5rem;
}

.hexaconwrapper {
  height: 1.7rem;
}

.setuphexacon {
  @include fullSize;
}

.sectionnavbar {
  @include fullWidth;
  @include zeroTL;
  @include fixed;
  background-color: #1F2E29;
  padding: 2.7rem 0 0 0;
  z-index: 5;
}

.sectionnavbar .title {
  @include flex(left, center, row);
  padding: 0 0 0.6rem;
  font-size: 1.05rem;
}

.setupnavbar {
  @include zeroPadding(true);
}

.sectionnavbar .button {
  @include zeroMargin;
  position: relative;
  float: left;
  padding: 0 1rem 0 1rem;
}

.sectionnavbar .buttonlabel {
  color: #66FFCC;
  font-size: 0.95rem;
  padding: 0 0 0.2rem 0;
  transition: color 0.1s;
  white-space: nowrap;
}

.sectionnavbar .outline {
  @include zeroMargin;
  background-color: #66FFCC;
  padding: 1px 0 0 0;
}

.sectionnavbar .outlineblob {
  background-color: #66FFCC;
  position: absolute;
  left: 5%;
  width: 90%;
  height: 0;
  border-radius: 15rem;
  transition: height 0.2s, margin-top 0.2s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 3;
}

.sectionnavbar .button:hover .outlineblob,
.sectionnavbar .button[active="true"] .outlineblob {
  height: 4px;
  margin: -2px 0 0 0;
}

.sectionnavbar .setbg {
  background-color: #1E2422;
  text-align: center;
  height: 20vh;
  position: relative;
  overflow: hidden;

  @media (max-height: 400px) {
    display: none;
  }
}

.bg {
  @include absolute(50%, 0, 0, -50%);
  @include fullWidth;
  z-index: 3;
}

.bg[src="/default-bg.jpg"],
.inputbg,
.section[active="false"],
#hide {
  display: none;
}

.setbg p {
  @extend .bg;
  z-index: 1;
  font-size: 1.1rem;
}

.content {
  @include topLeft(0, 50%, -50%, 0);
  position: relative;
  width: 90%;
  z-index: 1;
}

.content .emptyspace {
  @include fullWidth;
  height: 5rem;
}


#setup .content {
  margin-top: calc(20vh + 8rem);

  @media (max-height: 400px) {
    margin-top: 8rem;
  }

  .heading {
    margin: 1.5rem 0 0 0;
  }
}

#files .content {
  margin-top: 8rem;
}

.option,
.miscoption {
  @include flex(center, center, row);
  background-color: transparent;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 0.9rem;

  .wrapper {
    @include flex(space-between, stretch, column);
    @include flexBasis(100%, 0, 1);
    background-color: #2E3835;
    border-radius: 1rem;

    .main {
      @include flex(left, center, row);
      @include flexBasis(100%, 0, 1);
      position: relative;
      margin: 0 0 0 0;

      h4 {
        @include flexBasis(10rem, 0, 0);
        margin: 0.75rem 0 0.75rem 1rem;
      }

      input {
        @include flexBasis(90%, 0, 1);
        background-color: #222A27;
        border-radius: 1rem;
        padding: 0.75rem 1rem 0.75rem 1rem;
        outline: none;
        border: none;
        font: inherit;
        cursor: default;
      }

      input[type="range"],
      input[type="color"] {
        background-color: transparent;
        flex-basis: 80%;
      }

      input[type="color"] {
        clip-path: circle(50%);
        padding: 0 0 0 0;
        width: 7rem;
        height: 7rem;
      }

      .addbutton {
        width: 6.4rem;
        height: 6.4rem;
        border-radius: 3.5rem;
        border: 0.3rem solid #2299BB;
      }
    }
  }

  .button {
    @include flexBasis(15rem, 0, 1);
    background-color: #1E2422;
    border-radius: 1rem;
    font-weight: bold;
    margin: 0 0 0 0.5rem;
    padding: 0.75rem 0 0.75rem 0;
    transition: color 0.2s;
    text-align: center;
  }

  .desc {
    color: #FFCC22;
    font-size: 0.7rem;
    margin: 0.2rem 0 0.5rem 1rem;
  }
}

.miscoption {
  @include zeroMP;
  position: relative;
  justify-content: space-between;
  overflow: visible;
  width: 80%;

  h4 {
    @include zeroMargin;
    font-weight: normal;
  }

  .toggle {
    @extend .switch;
    @include zeroMargin;
    width: 2.25rem;
    height: 0.75rem;
  }
}

.switch {
  position: relative;
  width: 2.5rem;
  height: 0.9rem;
  margin: 0 0 0;
}

.switch input,
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider,
.toggle .fill {
  @include absolute(50%, 0, 0, -50%);
  @include fullWidth;
  height: 100%;
  border: 0.25rem solid #394642;
  transition: .4s;
  border-radius: 0.9rem;
}

.toggle .fill {
  @include topLeft(50%, 50%, -50%, -50%);
  border: 0.2rem solid #66FFCC;
  transition: 0.2s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 0.5rem;
  width: 0.5rem;
  left: 0.2rem;
  bottom: 0.2rem;
  background-color: #66FFCC;
  transition: .4s;
  border-radius: 50%;
}

.switch .slider:hover,
.toggle .fill:hover,
.zoomoptions .zoomin:hover,
.zoomoptions .zoomout:hover,
.snapoptions .buttons div:hover {
  filter: brightness(180%);
}

input:checked+.slider {
  border: 0.25rem solid #66FFCC;
}

input:checked+.fill {
  background-color: #66FFCC;
}

input:checked+.slider:before {
  transform: translateX(1.6rem);
}

.gridcontainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  margin: 1rem 0 0.2rem 2rem;
}

.coloursuboption {
  position: relative;
  text-align: center;
  margin: 0 0 0 0.3rem;
}

#newcolour {
  margin: 0 0 0 0.3rem;
}

.coloursuboption p {
  margin: 0 0 0 0;
}

.hexlabel {
  @include absolute;
  @include fullWidth;
  pointer-events: none;
  color: white;
  top: calc(50% - 1rem);
  transform: translateY(-50%);
}

#newcolour .hexlabel {
  @extend .hexlabel;
  font-size: 4rem;
  font-weight: bold;
}

.option .removebutton {
  position: absolute;
  z-index: 4;
  border: 0.2rem solid #bb2222;
  left: 0.2rem;
  top: 0.2rem;
  margin: 0;
  padding: 0rem 0.7rem 0rem 0.7rem;
  height: fit-content;

}

.tooltip {
  @include absolute;
  background-color: #323332;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  transition: opacity 0.1s;
  opacity: 0;
  z-index: 4;
}

.tooltip p {
  margin: 0 0 0 0;
}

::placeholder {
  color: #899D96;
  opacity: 1;
}

.popupwindow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: larger;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 20%;
  margin: 30% 0 0 40%;
  border-radius: 1rem;
  z-index: -69;
  opacity: 0;
  transition: opacity 0.2s;
  transition-timing-function: ease-out;
}

.timeline {
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: #222A27;
  bottom: 0px;
  @include fullWidth;
  z-index: 5;
}

.timeline .labels {
  flex-basis: 10%;
  flex-grow: 0;
  margin: 0 1.75rem 1vh 1.75rem;
}

.labels * {
  margin: 0 0 -0.5rem 0;
}

.labels h4 {
  font-size: 1rem;
  color: #FFD966;
}

.labels h3 {
  font-size: 1.75rem;
  font-weight: normal;
}

.labels p {
  font-size: 0.9rem;
}

.timeline .main {
  position: relative;
  background-color: #171C1A;
  flex-basis: 65%;
  z-index: 0;
  overflow: hidden;
}

.main .line {
  position: absolute;
  width: 90%;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #45544F;
}

.main .line .ball {
  position: absolute;
  background-color: #45544F;
  width: 6px;
  height: 6px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 3px;
  z-index: 2;
}

.main .line .left {
  left: -2px;
}

.main .line .right {
  right: -5px;
}

.main .indicator {
  position: absolute;
  background-color: #ED1121;
  width: 3px;
  height: 10rem;
  top: 50%;
  transform: translateY(-50%);
}

.playbackoptions {
  display: flex;
  flex-basis: 25%;
  justify-content: space-between;
}

.playbackoptions .labels {
  margin: 1vh 0 0 1rem;
  flex-basis: 50%;
}

.speedoptions {
  display: flex;
  justify-content: space-between;
}

.speedoptions .button {
  background-color: transparent;
  font-size: 0.9rem;
  padding: 0.5rem 0 0 0;
}

#playbutton {
  background-color: #FFD966;
  flex-basis: 25%;
}

#playbutton:hover {
  background-color: #FFF27F;
}

#playbutton .buttonlabel {
  color: #1A1E1B;
  font-size: 1.1rem;
  height: 100%;
}

.filesvisualiser {
  background-color: #222A27;
  border-radius: 0.5rem;
}

.path {
  @include flex(left, center, row);
  flex-wrap: nowrap;
  background-color: #171C1A;
  border-radius: 0.5rem;
  margin: 1rem 0 0 0;
  padding: 0.2rem;
}

.path p {
  background-color: transparent;
  border: none;
  margin: 0.25rem 0 0.25rem 0.7rem;
  transition: color 0.2s;
}

.path p:hover,
.item .label:hover,
.option p:hover {
  color: #9bc5b6;
}

.directory {
  @include flex(space-evenly, start, row);
  width: calc(100% - 2rem);
  margin: 0 0 0 1rem;
  padding: 0 0 0.3rem 0;
}

.list {
  @include flexBasis(48%, 1);
  margin: 1rem 0 0 0;
  height: 30rem;
  overflow: auto;
}

.item {
  @include flex(left, center, row);
  background-color: #171C1A;
  margin: 0.6rem 0.6rem 0.6rem 0;
  padding: 0.3rem 1rem 0.3rem 1rem;
  border-radius: 0.5rem;

  .label {
    color: white;
    text-align: center;
    padding: 0 0.9rem 0 0.9rem;
    transition: color 0.1s;
  }
}

.list .item[active="true"] {
  background-color: #224235;
}

.item .icon {
  width: 1rem;
  height: 1rem;
}

.item .info {
  margin: 0;
  padding: 0 0 0 2rem;
  font-size: 0.8rem;
  color: #899D96;
}

.options {
  @include flexBasis(48%, 0, 1);
  position: relative;
  background-color: rgba(23, 28, 26, 0.5);
  border-radius: 1rem;
  margin: 1rem 0 1rem 0;
  padding: 1rem 1rem 1rem 1rem;
}

.options h4 {
  font-size: 0.95rem;
  margin: 0.2rem 0 0 0;
}

.manage {
  display: flex;
}

.list .manage {
  justify-content: space-between;
}

.manage .item {
  margin: 0 1rem 0 0;
}

.preview {
  position: relative;
  background-color: rgba(23, 28, 26, 0.75);
  border-radius: 1rem;
  margin: 1rem 0 0 0;
  width: 100%;
  height: 24rem;
}

.preview .text {
  @include absolute(50%, 50%, -50%, -50%);
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  white-space: pre-wrap;
  resize: none;
  overflow: scroll;
  user-select: text;
}

.preview .image {
  padding: 1rem 1rem 1rem 1rem;
  width: 33rem;
  overflow: scroll;
}

.preview .audio {
  width: 90%;
  margin: 0 5% 0 5%;
}

.preview .video {
  width: 90%;
  margin: 0 5% 0 5%;
}

.detailedtimeline {
  position: relative;
  background-color: #2E3835;
  @include fullWidth;
  height: 7rem;
  margin: 2rem 0 0 0;
  z-index: 5;
}

.detailedtimeline .main {
  display: flex;
  justify-content: left;
  position: absolute;
  width: calc(100% - 2rem);
  height: calc(100% - 1rem);
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  margin: 0 0 0 0;
  overflow: hidden;
}

.main .viewoptions {
  @include flex(space-evenly, center);
  @include flexBasis(10%, 0, 0);
  position: relative;
  background-color: #45544F;
}

.main .zoomoptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-basis: 2.5%;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #37433F;
  color: #5C7069;
  text-align: center;
}

.zoomoptions .zoomin,
.zoomoptions .zoomout {
  @include fullWidth;
  flex-basis: 50%;
  background-color: #37433F;
  border-radius: 0.5rem;
  transition: 0.2s;
}

.zoomoptions h2 {
  margin: 0.2rem 0 0 0;
}

.main .timelinevisualiser {
  position: relative;
  overflow: hidden;
  flex-basis: 80%;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #222A27;
}

.timelinevisualiser .indicator {
  width: 2px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timelinevisualiser .tpindicator {
  position: absolute;
  background-color: #CC6600;
  height: 3rem;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 2px;
  z-index: 1;
}

.tpindicator .bpmlabel {
  position: absolute;
  background-color: #FFD966;
  border-radius: 0.5rem;
  color: #242B28;
  font-weight: bold;
  font-size: 0.6rem;
  width: fit-content;
  left: 50%;
  top: -1.25rem;
  transform: translate(-50%, 0);
  white-space: nowrap;
  padding: 0 0.2rem 0 0.2rem;
  margin: 0 0 0 0;
  text-align: center;
}

.beatindicator {
  position: absolute;
  background-color: #ffffff;
  height: 3rem;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 1px;
  z-index: 1;
  border-radius: 1rem;
}

.main .snapoptions {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-basis: 6.5%;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0 0 0 1%;
  background-color: #394642;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.snapoptions * {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.snapoptions h2 {
  font-size: 1.2rem;
}

.snapoptions h3 {
  font-size: 1rem;
}

.snapoptions p {
  font-size: 0.8rem;
}

.snapoptions .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  @include fullWidth;
}

.snapoptions .buttons div {
  width: 50%;
  border-radius: 0.5rem;
  transition: 0.2s;
  background-color: #394642;
}

.timingoptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include fullWidth;
  height: 40rem;
}

.timingpointsoptions {
  display: flex;
  flex-basis: 75%;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  height: 100%;
  overflow: scroll;
}

.timeoptions {
  flex-basis: 28%;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0 1% 0 1%;
  background-color: #394642;
}

.timeoptions *,
.attributeoptions * {
  display: flex;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 2rem;
  align-items: center;
}

.attributeoptions {
  flex-basis: 68%;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0 1% 0 1%;
  background-color: #2E3835;
}

.timeoption,
.attributeoption {
  border-radius: 0.5rem;
  transition: 0.2s;
  padding: 0 2% 0 2%;
  background-color: #394642;
  justify-content: space-evenly;
}

.timeoption:hover {
  background-color: #5C7069;
}

.attributeoption {
  width: 10rem;
  background-color: #2E3835;
}

.timeoption .info,
.attributeoption .miscoption {
  background-color: #2E3835;
  border-radius: 0.35rem;
  padding: 0 2rem 0 2rem;
  height: 80%;
  font-size: 0.75rem;
}

.attributeoption .miscoption {
  background-color: #222A27;
  width: 50%;
}

.timingpointeditor {
  background-color: #171C1A;
  display: flex;
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  height: 100%;
}