@import url("/fonts/toruspro/stylesheet.css");
@import url("@/rangeslider.css");

:root {
  font-family: 'Torus Notched', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #394642;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.preventlandscape {
  display: none;
  position: fixed;
  background-color: #1F2E29;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 999;
}

.preventlandscape h1 {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-aspect-ratio: 4/5) {
  .preventlandscape {
    display: block;
  }
}

.load {
  position: fixed;
  background-color: #1F2E29;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 999;
}

.load .center {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.load h4,
.timeoption .info {
  color: #FFD966;
}

.navbar {
  background-color: #394642;
  position: fixed;
  width: 100%;
  height: 2vw;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar button,
.playbackoptions button,
.item button {
  background-color: transparent;
  border: none;
  font: inherit;
  font-size: 0.85vw;
  color: #91CDB9;
  text-align: center;
  min-width: 100%;
  min-height: 100%;
  transition: color 0.1s;
}

.navbar .dropdown,
.navbar .button,
.playbackoptions .button {
  position: relative;
  float: left;
  background-color: #45544F;
  margin: 0;
  padding: 0 1vw 0 1vw;
  transition: background-color 0.1s;
}

.navbar .dropdown,
.navbar .button {
  height: 2vw;
}

.navbar .dropdown:hover {
  background-color: #5C7069;
  font-weight: bold;
}

.navbar .dropdown:hover button,
.button:hover button {
  color: white;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  margin: 0 0 0 -1vw;
  font-size: 0.85vw;
  background-color: #45544F;
  white-space: nowrap;
  z-index: 69;
}

.navbar .dropdown-content a {
  color: white;
  font-weight: normal;
  padding: 0.25vw 1vw;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 9;
}

.navbar .dropdown-content a:hover {
  background-color: #5C7069;
  font-weight: bold;
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}

.button[active="true"] .buttonlabel {
  color: white;
  font-weight: bold;
}

.title .emptyspace {
  width: 1.5vw;
}

.hexaconwrapper {
  height: 1.75vw;
}

.setuphexacon {
  max-width: 100%;
  max-height: 100%;
}

.sectionnavbar {
  background-color: #1F2E29;
  height: 10%;
  font-size: 0.925vw;
  z-index: 5;
}

.sectionnavbar .title {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sectionnavbar .button {
  float: left;
  overflow: hidden;
  margin: 0;
  width: 6vw;
}

.sectionnavbar button {
  background-color: transparent;
  border: none;
  font: inherit;
  color: #66FFCC;
  text-align: center;
  font-size: 0.85vw;
  min-width: 100%;
  padding: 0 0 0.2vw 0;
  transition: color 0.1s;
  white-space: nowrap;
}

.sectionnavbar .outline {
  background-color: #66FFCC;
  margin: 0 0 0 0;
  padding: 1px 0 0 0;
}

.sectionnavbar .outlineblob {
  background-color: #66FFCC;
  position: absolute;
  width: 6vw;
  height: 0;
  border-radius: 15rem;
  transition: height 0.2s, margin-top 0.2s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 3;
}

.sectionnavbar .button:hover .outlineblob,
.sectionnavbar .button[active="true"] .outlineblob {
  height: 4px;
  margin: -2px 0 0 0;
}

.sectionnavbar .button[active="true"] .buttonlabel {
  color: white;
  font-weight: bold;
}

#setup .sectionnavbar {
  position: fixed;
  width: 100%;
  height: calc(14vw - 2px);
  top: 2vw;
  left: 0;
  overflow: hidden;
}

#files .sectionnavbar {
  margin: 2vw 0 0 0;
}

.sectionnavbar .setbg {
  background-color: #1E2422;
  text-align: center;
  height: 9vw;
  position: relative;
  overflow: hidden;
}

.bg {
  position: absolute;
  top: -25vw;
  left: 0;
  width: 100%;
  z-index: 3;
}

.bg[src="/default-bg.jpg"],
.inputbg,
.section[active="false"],
#hide {
  display: none;
}

.setbg p {
  position: absolute;
  width: 100%;
  top: 2.5vw;
  font-size: 1.1vw;
}

.content {
  position: relative;
  width: 90vw;
  margin: 0 0 0 5vw;
  font-size: 0.95vw;
  z-index: 1;
}

.content .emptyspace {
  width: 100%;
  height: 5vw;
}


#setup .content {
  margin: 18vw 0 0 5vw;
}

.option,
.miscoption {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 1vw;
  width: 90vw;
  min-height: 2.75vw;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 0 0.5vw 0;
  font-size: 0.85vw;
}

.miscoption {
  justify-content: space-between;
  overflow: visible;
  width: 80%;
  min-height: auto;
  margin: 0.6vw 0 -0.4vw 10%;
}

.option .wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  background-color: #2E3835;
}

.wrapper .main {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 1;
}

.option h4 {
  flex-basis: 10vw;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 0 0 1vw;
}

.miscoption h4 {
  font-weight: normal;
  margin: 0 0 0 0;
}

.option .desc {
  color: #FFCC22;
  font-size: 0.7vw;
  margin: -0.25vw 0 0.55vw 0.9vw;
}

.option input {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #222A27;
  border-radius: 1vw;
  padding: 0 0 0 1vw;
  height: 2.75vw;
  outline: none;
  border: none;
  outline: none;
  font: inherit;
  font-size: 0.95vw;
  cursor: default;
}

.option input[type="range"],
.option input[type="color"] {
  background-color: transparent;
  flex-basis: 80%;
}

.option button {
  flex-basis: 15%;
  flex-shrink: 0;
  flex-grow: 1;
  background-color: #1E2422;
  border: none;
  border-radius: 1vw;
  font: inherit;
  font-weight: bold;
  font-size: 0.85vw;
  margin: 0 0 0 0.5vw;
  height: 2.75vw;
  transition: color 0.2s;
}

#hotfix {
  margin: 0 0 0 12.5vw;
}

.option input[type="color"] {
  clip-path: circle(45%);
  padding: 0 0 0 0;
  width: 7vw;
  height: 7vw;
}

.option .addbutton {
  margin: 0.4vw 0 0.7vw 0;
  width: 6.2vw;
  height: 6.2vw;
  border-radius: 3.5vw;
  border: 0.3vw solid #2299BB;
}

.option .switch,
.miscoption .toggle {
  position: relative;
  width: 2.5vw;
  height: 0.9vw;
  margin: 1vw 0 1vw 0;
}

.miscoption .toggle {
  width: 2.25vw;
  height: 0.75vw;
  margin: 0 0 0 0;
}

.switch input,
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider,
.toggle .fill {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -0.25vw;
  border: 0.25vw solid #394642;
  transition: .4s;
  border-radius: 0.9vw;
}

.toggle .fill {
  top: -0.15vw;
  left: 0;
  border: 0.2vw solid #66FFCC;
  transition: 0.2s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 0.5vw;
  width: 0.5vw;
  left: 0.2vw;
  bottom: 0.2vw;
  background-color: #66FFCC;
  transition: .4s;
  border-radius: 50%;
}

.switch .slider:hover,
.toggle .fill:hover,
.zoomoptions .zoomin:hover,
.zoomoptions .zoomout:hover,
.snapoptions .buttons div:hover {
  filter: brightness(180%);
}

input:checked+.slider {
  border: 0.25vw solid #66FFCC;
}

input:checked+.fill {
  background-color: #66FFCC;
}

input:checked+.slider:before {
  transform: translateX(1.6vw);
}

.gridcontainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  margin: 0.2vw 0 0.2vw 2vw;
}

.coloursuboption {
  position: relative;
  text-align: center;
}

#newcolour {
  margin: 0 0 0 0.3vw;
}

.coloursuboption p {
  margin: 0 0 0 0;
}

.hexlabel {
  position: absolute;
  pointer-events: none;
  color: white;
  width: 100%;
  top: calc(50% - 0.8vw);
  transform: translateY(-50%);
}

#newcolour .hexlabel {
  top: calc(50% - 1.2vw);
  font-size: 4vw;
  font-weight: bold;
}

.option .removebutton {
  position: absolute;
  z-index: 4;
  border: 0.2vw solid #bb2222;
  left: 0.2vw;
  top: 0.2vw;
  margin: 0;
  padding: 0vw 0.7vw 0vw 0.7vw;
  height: fit-content;

}

.tooltip {
  position: fixed;
  background-color: #323332;
  text-align: center;
  border-radius: 0.5vw;
  padding: 0.25vw 0.5vw 0.25vw 0.5vw;
  top: 0;
  left: 0;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  transition: opacity 0.1s;
  opacity: 0;
  z-index: 4;
}

.tooltip p {
  margin: 0 0 0 0;
}

::placeholder {
  color: #899D96;
  opacity: 1;
}

.popupwindow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: larger;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 20%;
  margin: 30% 0 0 40%;
  border-radius: 1rem;
  z-index: -69;
  opacity: 0;
  transition: opacity 0.2s;
  transition-timing-function: ease-out;
}

.timeline {
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: #222A27;
  bottom: 0px;
  width: 100%;
  z-index: 5;
}

.timeline .labels {
  flex-basis: 10%;
  flex-grow: 0;
  margin: 0 1.75vw 1vh 1.75vw;
}

.labels * {
  margin: 0 0 -0.5vw 0;
}

.labels h4 {
  font-size: 1vw;
  color: #FFD966;
}

.labels h3 {
  font-size: 1.75vw;
  font-weight: normal;
}

.labels p {
  font-size: 0.9vw;
}

.timeline .main {
  position: relative;
  background-color: #171C1A;
  flex-basis: 65%;
  z-index: 0;
  overflow: hidden;
}

.main .line {
  position: absolute;
  width: 90%;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #45544F;
}

.main .line .ball {
  position: absolute;
  background-color: #45544F;
  width: 6px;
  height: 6px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 3px;
  z-index: 2;
}

.main .line .left {
  left: -2px;
}

.main .line .right {
  right: -5px;
}

.main .indicator {
  position: absolute;
  background-color: #ED1121;
  width: 3px;
  height: 10rem;
  top: 50%;
  transform: translateY(-50%);
}

.playbackoptions {
  display: flex;
  flex-basis: 25%;
  justify-content: space-between;
}

.playbackoptions .labels {
  margin: 1vh 0 0 1vw;
  flex-basis: 50%;
}

.speedoptions {
  display: flex;
  justify-content: space-between;
}

.speedoptions .button {
  background-color: transparent;
  font-size: 0.9vw;
  padding: 0.5vw 0 0 0;
}

#playbutton {
  background-color: #FFD966;
  flex-basis: 25%;
}

#playbutton:hover {
  background-color: #FFF27F;
}

#playbutton .buttonlabel {
  color: #1A1E1B;
  font-size: 1.1vw;
  height: 100%;
}

.filesvisualiser {
  background-color: #222A27;
  border-radius: 0.5vw;
}

.path {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #171C1A;
  border-radius: 0.5vw;
  margin: 1vw 0 0 0;
}

.path button {
  background-color: transparent;
  border: none;
  margin: 0.25vw 0 0.25vw 0.7vw;
  font: inherit;
  transition: color 0.2s;
}

.path button:hover,
.item button:hover,
.option button:hover {
  color: #9bc5b6;
}

.directory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 2vw);
  margin: 0 0 0 1vw;
  padding: 0 0 0.3vw 0;
}

.list {
  margin: 1vw 0 0 0;
  height: 30vw;
  flex-basis: 47vw;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: auto;
}

.item {
  display: flex;
  align-items: center;
  background-color: #171C1A;
  margin: 0.6vw 0.6vw 0.6vw 0;
  padding: 0.3vw 1vw 0.3vw 1vw;
  border-radius: 0.5vw;
}

.list .item[active="true"] {
  background-color: #224235;
}

.item .icon {
  width: 1vw;
  height: 1vw;
}

.item button {
  color: white;
  text-align: left;
  min-width: fit-content;
  padding: 0 0.9vw 0 0.9vw;
}

.item p {
  margin: 0;
  padding: 0 0 0 2vw;
  font-size: 0.8vw;
  color: #899D96;
}

.options {
  background-color: rgba(23, 28, 26, 0.5);
  border-radius: 1vw;
  flex-basis: 35vw;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 1vw;
  padding: 1vw 1vw 1vw 1vw;
}

.options p,
.options h4 {
  font-size: 0.85vw;
  margin: 0.2vw 0 0 0;
}

.options h4 {
  font-size: 0.95vw;
}

.manage {
  display: flex;
  align-items: center;
  justify-content: left;
}

.list .manage {
  justify-content: space-between;
}

.manage .item {
  margin: 0 1vw 0 0;
}

.preview {
  background-color: rgba(23, 28, 26, 0.75);
  border-radius: 1vw;
  margin: 1vw 0 0 0;
  width: 35vw;
  height: 24vw;
}

.preview .text {
  padding: 1vw 1vw 1vw 1vw;
  width: calc(100% - 2vw);
  height: calc(100% - 2vw);
  ;
  white-space: pre-wrap;
  resize: none;
  overflow: scroll;
  user-select: text;
}

.preview .image {
  padding: 1vw 1vw 1vw 1vw;
  width: 33vw;
  overflow: scroll;
}

.preview .audio {
  width: 90%;
  margin: 0 5% 0 5%;
}

.preview .video {
  width: 90%;
  margin: 0 5% 0 5%;
}

.detailedtimeline {
  position: relative;
  background-color: #2E3835;
  width: 100%;
  height: 7vw;
  margin: 2vw 0 0 0;
  z-index: 5;
}

.detailedtimeline .main {
  display: flex;
  justify-content: left;
  position: absolute;
  width: calc(100% - 2vw);
  height: calc(100% - 1vw);
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  margin: 0 0 0 0;
  overflow: hidden;
}

.main .viewoptions {
  flex-basis: 10%;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #45544F;
}

.main .zoomoptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-basis: 2.5%;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #37433F;
  color: #5C7069;
  text-align: center;
}

.zoomoptions .zoomin,
.zoomoptions .zoomout {
  width: 100%;
  flex-basis: 50%;
  background-color: #37433F;
  border-radius: 0.5vw;
  transition: 0.2s;
}

.zoomoptions h2 {
  margin: 0.2vw 0 0 0;
}

.main .timelinevisualiser {
  position: relative;
  overflow: hidden;
  flex-basis: 80%;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #222A27;
}

.timelinevisualiser .indicator {
  width: 2px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timelinevisualiser .tpindicator {
  position: absolute;
  background-color: #CC6600;
  height: 3vw;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 2px;
  z-index: 1;
}

.tpindicator .bpmlabel {
  position: absolute;
  background-color: #FFD966;
  border-radius: 0.5vw;
  color: #242B28;
  font-weight: bold;
  font-size: 0.6vw;
  width: fit-content;
  left: 50%;
  top: -1.25vw;
  transform: translate(-50%, 0);
  white-space: nowrap;
  padding: 0 0.2vw 0 0.2vw;
  margin: 0 0 0 0;
  text-align: center;
}

.beatindicator {
  position: absolute;
  background-color: #ffffff;
  height: 3vw;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 1px;
  z-index: 1;
  border-radius: 1vw;
}

.main .snapoptions {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-basis: 6.5%;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0 0 0 1%;
  background-color: #394642;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.snapoptions * {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.snapoptions .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.snapoptions .buttons div {
  width: 50%;
  border-radius: 0.5vw;
  transition: 0.2s;
  background-color: #394642;
}

.timingoptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40vw;
}

.timingpointsoptions {
  display: flex;
  flex-basis: 75%;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  height: 100%;
  overflow: scroll;
}

.timeoptions {
  flex-basis: 28%;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0 1% 0 1%;
  background-color: #394642;
}

.timeoptions *,
.attributeoptions * {
  display: flex;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 2vw;
  align-items: center;
}

.attributeoptions {
  flex-basis: 68%;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0 1% 0 1%;
  background-color: #2E3835;
}

.timeoption,
.attributeoption {
  border-radius: 0.5vw;
  transition: 0.2s;
  padding: 0 2% 0 2%;
  background-color: #394642;
  justify-content: space-evenly;
}

.timeoption:hover {
  background-color: #5C7069;
}

.attributeoption {
  width: 10vw;
  background-color: #2E3835;
}

.timeoption .info,
.attributeoption .miscoption {
  background-color: #2E3835;
  border-radius: 0.35vw;
  padding: 0 2vw 0 2vw;
  height: 80%;
  font-size: 0.75vw;
}

.attributeoption .miscoption {
  background-color: #222A27;
  width: 50%;
}

.timingpointeditor {
  background-color: #171C1A;
  display: flex;
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  height: 100%;
}